server {
    server_name {{ ttt_www_url }} www.{{ ttt_www_url }};
    root {{ ttt_www_path }}/dist;

    location / {
        try_files $uri /index.html;
    }

    location /api/ {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://{{ ttt_api_url }}/;
    }
}

server {
    server_name {{ ttt_api_url }} www.{{ ttt_api_url }};
    root {{ ttt_api_path }}/www/;

    location / {
      try_files $uri /index.php$is_args$args;
    }

    location ~ ^/index\.php(/|$) {
      fastcgi_pass 127.0.0.1:9000;

      fastcgi_split_path_info ^(.+\.php)(/.*)$;
      include fastcgi_params;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_param HTTPS off;

    }
}
